@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
   box-sizing: border-box; 
   font-family: Encode Sans Expanded,sans-serif;
   margin: 0;
   padding: 0;
}
 
/* ---------------------APP.js PageStart----------------------- */

#forex{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 114px;
}

.col{
    color: rgb(250, 251, 251);
    font-size: 1rem;
    padding-left: 6px;
    text-decoration: none;    
}

.link{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(16, 21, 34);
}

.colo{
    color: #fff;
    text-decoration: none;
}

#sign{
    color: rgba(0, 0, 0, 0.911);
    background: rgb(1, 191, 113);
    padding: 10px 22px;
    font-size: 16px;
    border-radius: 50px;
 }

#sign :hover{
    background-color: #fff;
}

.navbar{
    display: flex;
    justify-content: center;
}


/* ---------------------FOREXRUPEE.js PageStart----------------------- */

.main{
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
}



video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}

.content h1{
    line-height: 2;
    font-size: 48px;
    text-align: center;
    word-spacing: 2px;
}

.content p{
    font-size: 25px;
    max-width: 623px;
    text-align: center;
    font-weight: 100;
}

.content p span{
    font-weight: 900;
}


 /* ---------------------ABOUT.js PageStart----------------------- */

.About{
    color: #fff;
    background-color: rgb(16, 21, 34);
}

.About img{
    max-width: 494px;
    margin-left: 48.5rem;
    margin-top: -21.4rem;
}

.About .paragraph{
    margin-left: 15.5rem;
    padding-top: 7.2rem;
}

.About h6{
    color: rgb(1, 191, 113);
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.About h1{
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    max-width: 347px;
    min-width: 503px;
    font-weight: bolder;
}

.About p{
    max-width: 440px;
    font-size: 18px;
    line-height: 24px;
}

.getStarted{
    height: 3rem;
    width: 9rem;
    display: flex;
    background: rgb(1, 191, 113);
    justify-content: center;
    border-radius: 3rem;
    align-items: center;
    margin-top: 3rem;
}

.getStarted a{
    text-decoration: none;
    color: #000;
}


/* ---------------------DISCOVER.js PageStart----------------------- */

.Discover img{
    max-width: 495px;
    margin-left: 15.6rem;
    margin-top: 13.8rem;
}

.Discover .paragraph{
    margin-left: 48.5rem;
    margin-top: -427px;
}

.Discover h6{
    color: rgb(1, 191, 113);
    font-size: 16px;
    line-height: 53.1px;
    letter-spacing: 1.4px;
}

.Discover h1{
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    max-width: 347px;
    min-width: 503px;
    font-weight: bolder;
}

.Discover p{
    max-width: 440px;
    font-size: 18px;
    line-height: 24px;
}



/* ---------------------SERVICES.js PageStart----------------------- */

#Services{
    background-color: rgb(16, 21, 34);
    height: 88.7vh;
}

#Services h1{
    color: #fff ;
  text-align: center;
}

.Boxes{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;
}

.Boxes .box{
    height: 20rem;
    width: 18rem;
    text-align: center;
    background-color: #fff;
}

.Boxes img{
    height: 160px;
    width: 160px;
    margin-bottom: 10px; 
}

.Boxes h2{
    font-size: 1rem;
}

.Boxes p{
    font-size: 1rem;
    max-width: 14rem;
    margin-left: 1.5rem;
}


/* ---------------------SIGNUP.js PageStart----------------------- */

.SignUp{
    height: 60rem;
}

.SignUp img{
    width: 31rem;
    margin-left: 48.5rem;
    margin-top: -21.4rem;
}

.SignUp .paragraph{
    margin-left: 15.5rem;
    padding-top: 13.2rem;
}

.SignUp h6{
    color: rgb(1, 191, 113);
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.SignUp h1{
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    max-width: 400px;
    font-weight: bolder;
}

.SignUp p{
    max-width: 426px;
    font-size: 18px;
    line-height: 24px;
}

.startNow{
    height: 3.1rem;
    width: 9rem;
    display: flex;
    background: rgb(1, 6, 6);
    justify-content: center;
    border-radius: 3rem;
    align-items: center;
    margin-top: 3rem;
}

.startNow a{
    text-decoration: none;
    color: #fff;
}

.startNow a :hover{
    background: rgb(1, 191, 113);
}

 /*     -------------------------- Footer Start ------------------------*/

  footer{
    background-color: rgb(16, 21, 34);
    height: 23.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
 }  
 
 .Ggrid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .grid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    width: 160px;
 }

 .grid h1{
    font-size: 1rem;
    margin-bottom: 1rem;
 }

 .Grid{
    display: flex;
    justify-content: center;
 }

 .Grid1{
    display: flex;    
 }

 .grid a{
    margin-bottom: 0.5rem;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
 }

 .lastLine{
    display: flex;
    margin-top: 2.5rem;
    margin-left: 2rem;
 }

 .lastLine a{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
 }

 .lastLine small{
    margin-left: 11rem;
 }

.lastLine .icons{
    margin-left: 10rem;
} 

 .lastLine .icon{
    margin-left: 25px;    
 }

 /* --------------------------------------SignIn-------------------------------- */

/* .sign-In{
    min-height: 692px;
    position: fixed;
    inset: 0px;
    z-index: 0;
    overflow: hidden;
    background: rgb(1, 191, 113);
} */

.heading{
        position: fixed;
        inset: 0px;
        color: #fff;
        background: rgb(1, 191, 113);
}

.heading a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 800;
}

.heading .pee{
    padding: 2rem 3rem;
}

.heading form{
    background: rgb(1, 1, 1);
    height: 33rem;
    width: 24rem;
    display: grid;
    margin-left: 34.5rem;
    margin-top: 1.5rem;
    padding: 80px 32px;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 90%) 0px 1px 3px;
}

.heading form h1{
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.heading form label{
    margin-bottom: 8px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.heading form input{
    padding: 16px;
    margin-bottom: 32px;
    border: none;
    border-radius: 4px;
}

.heading form button{
    padding: 16px;
    margin-bottom: 32px;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    background: rgb(1, 191, 113);
    border-radius: 4px;
}

/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

/* @media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

} */